@use 'variables';
/*https://codepen.io/sakri/pen/Iklgx*/

//region set main css
/*Set html and body*/
html,
body {
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: variables.$primary_background;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: lightgray;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: lightgray;
}

.icon {
  height: 2em;
  width: 2em;
}

//endregion set main css

//region header
indus-header {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #f2f2f2;
  flex-wrap: wrap;

  .header_left {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;

    div {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        padding-right: 15px;
      }

      padding-left: 15px;
    }
  }

  .header_right {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;

    div {
      padding-right: 15px;
    }
  }
}

//endregion header

//region login
indus-login {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: center;

  select {
    width: 200px;
    height: 40px;
    font-size: 20px;
    margin-right: 15px;
  }

  input {
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-right: 15px;
    background-color: #93c47d;
    border-radius: 7px;
    border: 1px solid black;
  }
}

//endregion login

//region home
indus-home {
  display: flex;
  flex-direction: column;
  background-color: #999999;
  width: 86%;
  height: 100%;
  overflow-y: scroll;

  .headband {
    h1 {
      margin: 0;
    }

    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  div {
    padding: 15px;
  }

  table,
  th,
  td {
    border: 2px solid white;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      height: 3em;
    }

    .ticket_line_edit {
      width: 6%;
      text-align: center;
    }

    .ticket_line_id {
      width: 6%;
      text-align: center;
    }

    .ticket_line_status {
      width: 6%;
      text-align: center;
    }

    .ticket_line_priority {
      width: 6%;
      text-align: center;
    }

    .ticket_line_user {
      padding-left: 10px;
      width: 25%;
    }

    .ticket_line_label {
      padding-left: 10px;
    }
  }
}

//end home

//region upsert_ticket
indus-upsert-ticket {
  display: none;
  flex-direction: column;
  background-color: #999999;
  width: 86%;
  height: 100%;
  overflow-y: scroll;
  div {
    padding-left: 10px;
  }
}

//endregion upsert_ticket

//region navigation
indus-navigation {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: inherit;
  width: 14%;
  /*border-right: 1px solid red;*/
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
    user-select: none;
  }

  .active {
    background-color: lightgray;
  }

  .first {
    margin-top: 70px;
  }
}

//endregion navigation

//region administration
indus-administration {
  display: none;
  flex-direction: column;
  width: 86%;
  height: 100%;
  overflow-y: scroll;
  background-color: #999999;

  h1 {
    margin: 0;
  }

  .administration_div_title {
    padding: 15px;
  }

  .administration_line_user {
    border: 1px solid white;
    width: auto;
    padding: 10px;
    margin: 5px 10px 0px;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;

    .administration_column_edit {
      border-right: 1px solid white;
    }

    .administration_column_firstname,
    .administration_column_secondname {
      width: 42%;
      height: 100%;
      border-right: 1px solid white;
      font-size: 20px;
    }

    .administration_column_delete,
    .administration_column_edit {
      justify-content: center;
      width: 8%;
      padding-left: 0;
    }
  }
}

.administration_popup {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);

  .administration_popup_delete {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 380px;
    height: 250px;
    background: #9f9f9f;


    .administration_popup_delete_btn {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    h1,
    p,
    input {
      text-align: center;
      margin: 0;
    }

    p {
      font-size: 16px;
    }

    input {
      font-size: 20px;
      padding: 5px;
      border-radius: 7px;

    }

    #administration_popup_delete_confirm {
      background-color: lightgreen;
    }

    #administration_popup_delete_cancel {
      background-color: lightcoral;
    }

  }

  .administration_popup_update {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    background: #9f9f9f;

    h1,
    p,
    input {
      text-align: center;
      margin: 0;
    }

    p {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 3px;
    }

    input {
      font-size: 20px;
      padding: 5px;
      border-radius: 7px;
    }

    .administration_popup_update_confirm {
      margin-top: 10px;
      background-color: lightgreen;
    }

    .administration_popup_update_radio {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: fit-content;
      flex-direction: row;
    }

  }
}

//endregion administration

//region planning
indus-planning {
  display: none;
  flex-direction: column;
  background-color: #999999;
  width: 86%;
  height: 100%;
  overflow-y: scroll;
}

//endregion planning

//region indicator


indus-indicator {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #999999;
  width: 86%;
  height: 100%;
  overflow-y: scroll;

  canvas#pie-chart {
    display: flex !important;
    height: 600px !important;
    width: 600px !important;
  }
}


//endregion indicator


